.fram{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: blue;
    border-radius: 20px;
   
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
}
.dis{
    width: 370px;
    height: 70px;
    margin-top: 10%;

}
.btn:hover{
    background-color: rgba(0, 0, 255, 0.041);
    cursor: pointer;
}
.btn1:hover{
    background-color:rgba(0, 0, 255, 0.041) ;
    cursor: pointer;
}
.btn1{
    margin-bottom: 10%;
}